<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6>{{product.name}}</h6>
    </div>
    <div class="panel-body">
      <img src="{{product.img}}" class="images1 img-responsive">
      <div class="center">
        <span class="label label-warning">{{product.price}}</span>
        <span class="label label-success">{{product.quantity}}</span>
         <p>{{product.description}}</p>
      </div>
    </div>
    <div class="panel-footer">
      <button {{action 'addToCart' product}}>Add to Cart</button>}
    </div>
  </div>
</div>
