<div class="container">
  <div class="row">

      <!-- {{searchable-select
        content=TEDevents
        sortBy="title"
        on-change=(action "update")}}
        <p>Set by Searchable: {{setBySearchable.title}}</p> -->

    <br/>
    <hr>
    <div class="col-md-8">
      <div class="row">
        {{display-goods model=model}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        {{display-cart product=product}}
      </div>
    </div>
  </div>
</div>


{{outlet}}
