<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{seller.name}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img src="{{seller.image}}" alt="" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p>{{seller.name}}</p><br>
            <p>{{seller.location}}</p> <br>
            <p>{{seller.description}}</p> <br>
            <p>{{seller.phone}}</p> <br>
            <p>{{seller.email}}</p>
          </div>
        </div>
        <div class="panel-footer">
            Farmer and Business man
        </div>
      </div>
    </div>
  </div>

</div>
