<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">{{model.firstname}} {{model.lastname}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img src="{{model.image}}" alt="" class="img-responsive">
          </div>
          <div class="col-md-8">
            <label>Email:</label><p>{{model.email}}</p><br>
            <label>Phone Number:</label><p>{{model.phone}}</p> <br>
            <label>Seller Description:</label><p>{{model.description}}</p> <br>

            <!-- <p>{{model.email}}</p> -->
          </div>
        </div>
        <div class="panel-footer">
            Farmer and Business man

        </div>
        {{update-portfolio  updatePortfolio='updatePortfolio' seller=model}}
      </div>
    </div>
  </div>
{{new-product saveProduct='saveProduct' seller=model}}
{{#each model.products as |product|}}
    {{product-tile   product=product}}
  {{/each}}
</div>
