<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">{{model.firstname}} {{model.lastname}}</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-4">
            <img src="{{model.image}}" alt="" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p>{{model.email}}</p><br>
            <p>{{model.phone}}</p> <br>


            <!-- <p>{{model.email}}</p> -->
          </div>
        </div>
        <div class="panel-footer">
            <p>{{model.description}}</p>
        </div>
      </div>
    </div>
  </div>
{{new-product saveProduct='saveProduct' seller=model}}
{{#each model.products as |product|}}
    {{product-tile update="update" delete="delete" product=product}}
  {{/each}}
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/597a3b075dfc8255d623f4d0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
